body {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  height: 1000 px;
}

.container{
  display: flex;
  height: 1000px;
  width: 500px;
  justify-content: center;  
  flex-direction: column;
}

.green{
 background: green; 
 flex-grow: 1;
 order: 1;
}

.yellow{
  background: yellow;
 flex-grow: 2;
 order: 3;
}

.purple{
  background: purple;
  flex-grow: 1;
  order:2;
}