body{
  background: rgb(77, 164, 199);
  margin:0;
  padding:0;
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;  
}

table {
  border-collapse: collapse;
  padding: 10px;
}

thead, tbody, tr ,td, th {
  margin: 0;
  padding: 10px;
  border: 0px;
}

tr {
  height: 50px;
}

thead tr th:nth-child(1){
  border-radius: 3px 0px 0px 0px;
  width:200px;
}

thead tr th:nth-child(2){
  border-radius: 0px 3px 0px 0px;
  width:300px;
}

#lastrow>td:last-child{
  border-radius: 0px 0px 3px 0px;
}

#lastrow>td:nth-child(1){
  border-radius: 0px 0px 0px 3px;
}

th{
  border-bottom: 3px solid grey;
}

th:first-child{
  border-right: 1px solid grey;
}

tr>td:nth-child(1){
  border-right: 1px solid grey;
}

td{
  border-top: 1px solid grey;
}

tbody>tr:nth-child(odd){
  background: silver;
}
tbody>tr:nth-child(even){
  background: white;
}
 
thead > tr{
  color:white;
  background:black;
}
