<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Project Gallery</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body>
  <div id='outerwrapper'>
    <div class='wrapper'>
      <div class='display'>
        <div class='display arrows'>
          <img class='arrow left' src='<%=arrow %>' />
        </div>
        <div class='display bigpicture'>
          <img class='thebigimage' src='<%=link %>' />
        </div>
        <div class='display arrows'>
            <img class='arrow right' src='<%=arrow %>' />
        </div>
        
        <h5 class='title'></h5>
        <p class='description'></p>
      </div>


      <div id='thumbnailcontainer'>
        <div class='thumbnails'></div>
        <div class='thumbnails onhover'></div>
      </div>
    </div>
  </div>


</body>

</html>