body {
  font-family: Arial, Helvetica, sans-serif;
  height: 1000 px;
  padding: 0px;
}

.container{
  display: flex;
  margin: 0px;
  padding: 0px;
  background: yellow;
  height: 500px;
  width: auto;
  justify-content: right;
  align-items: flex-end;  
}

.item {
  list-style-type: none;
  background: purple;
  height:100px;
  width:100px;
  margin: 3px;
}